<div class="mcnTextContent" style=" background-color:#fff; ">
    <table style="width:100%;text-align:center;">
      <tr>
        <td style="width:50%; background-color: #580004; padding:10px;">
          <a style="width:60%; text-decoration:none; color:#000000; background-color:#ffffff; border-radius: 10px; display: inline-block; padding: 10px;" href="https://www.beautyfeatures.ie/haircare-gifts/">Haircare Gifts</a>
        </td>
        <td style="width:50%; background-color: #270100; padding:10px;">
          <a style="width:60%; text-decoration:none; color:#000000; background-color:#ffffff; border-radius: 10px; display: inline-block; padding: 10px;" href="https://www.beautyfeatures.ie/skincare-gifts/">Skincare Gifts</a>
        </td>
      </tr>
      <tr>
        <td style="width:50%; background-color: #270100; padding:10px;">
          <a style="width:60%; text-decoration:none; color:#000000; background-color:#ffffff; border-radius: 10px; display: inline-block; padding: 10px;" href="https://www.beautyfeatures.ie/fragrance-gifts/">Fragrances</a>
        </td>
        <td style="width:50%; background-color: #580004; padding:10px;">
          <a style="width:60%; text-decoration:none; color:#000000; background-color:#ffffff; border-radius: 10px; display: inline-block; padding: 10px;" href="https://www.beautyfeatures.ie/gifts-for-him/">Men's Gifts</a>
        </td>
      </tr>
      <tr>
        <td style="width:50%; background-color: #580004; padding:10px;">
          <a style="width:60%; text-decoration:none; color:#000000; background-color:#ffffff; border-radius: 10px; display: inline-block; padding: 10px;" href="https://www.beautyfeatures.ie/tools-accessories-gift/">Accessories</a>
        </td>
        <td style="width:50%; background-color: #270100; padding:10px;">
          <a style="width:60%; text-decoration:none; color:#000000; background-color:#ffffff; border-radius: 10px; display: inline-block; padding: 10px;" href="https://www.beautyfeatures.ie/makeup/">Makeup Gifts</a>
        </td>
      </tr>
    </table>
  </div>